<div class="top-row pl-4 navbar navbar-dark vh">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="userform">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Form
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="match">
                <span class="oi oi-plus" aria-hidden="true"></span> Match
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mymatches">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MyMatches
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listemployees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
