@page "/counter"

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick=@(async () => await IncrementCount())>Click me</button>
@*<AntDesign.Button>Guzik</AntDesign.Button>*@

<div class="gcse-search"></div>
@code {
    int currentCount = 0;

    private async Task IncrementCount()
    {
        var response = await Http.GetStringAsync("/api/PlaceModels");
    }



}
